/* Shared Style */
.btn-primary{
    color: aliceblue;
    background-color: #e4810f;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.light-gray-ash{
    color: #727272;
}

/* ------------------------header styles starts from here---------------- */
.section-title{
    font-size: 30px;
    font-weight: 900; 
}
header{
    background-color: #e8c093 ;
    text-align: center;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 13px;
    font-weight: 300;
}
nav li a{
    text-decoration: none;
    color: rgb(158, 7, 7);
}

/* ------------banner style starts here----------- */

.banner-conteiner{
    margin-top: 20px;
}
.banner-title{
    color: black;
    font-weight: 900;
    font-size: 30px;
}
.banner-description{
    font-size: 13px;
    color: rgb(109, 109, 93);
}
.banner-img{
    width: 940px;
    height: 497px;
    margin-top: 25px;
}

/* ---------------------------header section ends here -------------------- */
/* Main sectiuon starts here  */
main{
    max-width: 1300px;
    margin: 70px auto;
}

/* team section starts here  */
.team-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%; 
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}
.team-description{
    margin-left: 50px;
}
.light-gray-ash{
    color: #727272;
}
.span-1{
    color: #e4810f;
}

/* -------Feature section starts here ------------- */

.features{
    display: flex;
    gap: 50px;
    margin-top: 130px;
}
.features .section-title{
    border-left: 5px solid #c86f09;
    padding-left: 25px;    
}
.card{
    padding: 25px;
    margin-top: 10px;
    background-color:  #efe0cc;
    border-radius: 10px;

}
 .ten-years-badge{
    color: #eee3d6;
    background-color: #e4810f;
    height: 120px;
    width: 80px;
    padding: 20px;
    position: absolute;
    bottom: -20px;
    left: -20px;

}
.feature-img{
    position: relative;
    width: auto;
    height: auto;
}

/* facts section style start here  */
.facts{
    margin-top: 120px;
}
.facts-description{
    text-align: center;
}
.facts-description .light-gray-ash{
    margin-left: 20%;
    margin-right: 20%;
}
.fact-badge-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
.fact-badge{
    border: 1px solid #e4810f;
    text-align: center;
    padding: 30px;
    border-radius: 5px;

}
.fact-badge:hover{
    background-color: #efcca4;
    border: none;
}

/* sponsor section style starts from here  */
.sponsor{
    margin-top: 120px;
}
.sponsor .section-title{
    text-align: center;
} 
.sponsor .light-gray-ash{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    
}
.sponsor-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.sponsor-img{
    filter: grayscale(100%);
}
.sponsor-img:hover{
    filter: none;
    cursor: pointer;
}